<form class="example-form">

<!--  <mat-form-field class="example-full-width" appearance="outline">-->
<!--    <mat-label>ID</mat-label>-->
<!--    <input matInput  [(ngModel)]="tempid" >-->
<!--  </mat-form-field>-->
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="newContent.title">
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="newContent.description">
  </mat-form-field>
  <br>

  <mat-form-field appearance="outline">
    <mat-label>Creator</mat-label>
    <input matInput [(ngModel)]="newContent.creator">
  </mat-form-field>
  <br>

  <mat-form-field appearance="outline">
    <mat-label>Image URL</mat-label>
    <input matInput [(ngModel)]="newContent.imgURL">
  </mat-form-field>
  <br>

  <mat-form-field appearance="outline">
    <mat-label>Type</mat-label>
    <input matInput [(ngModel)]="newContent.type">
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label> Tags</mat-label>
    <input matInput [(ngModel)]="newContent.tags">
  </mat-form-field>

</form>


<!--<div>-->
<!--<button mat-raised-button color="primary" (click)="addItemToParent()">Add Content</button>-->
<!--</div>-->

<div>
  <span class="error-message"> {{ errorMessage }}</span>
</div>

