<div>
  <input #titleSearch>
  <button (click)="checkForTitle(titleSearch.value)">Title Check</button>
  <div>
    <span class="success" *ngIf="searchTitle"> {{ titleSearch.value}} found!</span>
    <span class="failure" *ngIf="searchTitle === false"> {{ titleSearch.value}} not found!</span>
  </div>

</div>


<app-content-card [class.found]="titleSearch.value === item.title" *ngFor="let item of (planets | typeFilter);
 first as isTheFirstElement" [class.is-first]="isTheFirstElement" class="no-type"></app-content-card>


<app-content-card [class.found]="titleSearch.value === item.title" *ngFor="let item of (planets | typeFilter: 'outer'); first as isTheFirstElement"
                  [class.is-first]="isTheFirstElement" class="rookie"></app-content-card>


<app-content-card [class.found]="titleSearch.value === item.title" *ngFor="let item of (planets | typeFilter: 'Inner'); first as isTheFirstElement"
                  [class.is-first]="isTheFirstElement" [class]="item.type | lowercase"></app-content-card>


