<nav>
  <a routerLink="/list"  routerLinkActive="active">List</a>
</nav>
<router-outlet> </router-outlet>
<h1>Highlight Planet</h1>
<p>
  <mat-form-field appearance="outline">
    <mat-label> Enter item id:</mat-label>
    <input matInput #id>
  </mat-form-field>
  <button mat-raised-button color="accent"  (click)="displayItem(id.value)">Display item!</button>

  <br>
</p>

<!--Removing single app content card according to instruction:
Remove the single content card from the AppComponent that you added in a previous assignment. The AppMessage component should stil be displayed on the AppComponent-->
<app-content-card [planets]="chosenPlanet" class="chosenPlanet"></app-content-card><br><hr>
<h1>Planets</h1>
<app-content-list></app-content-list>

<app-messages></app-messages>
