
<img *ngIf="planets?.imgURL" (click)="logId()" [src]="planets?.imgURL">
<img *ngIf="!planets?.imgURL" (click)="logId()" src="https://cdn5.vectorstock.com/i/1000x1000/73/49/404-error-page-not-found-miss-paper-with-white-vector-20577349.jpg">

<h2>{{ planets?.title}}</h2>

<p class="description">{{ planets?.description }}</p>

<div class="meta-data">
  <div class="author-info">
    <span class="creator">{{ planets?.creator }}</span>
    <span *ngIf="planets?.type" class="type">{{ planets?.type }}</span>
  </div>
  <div *ngIf="planets?.tags" class="tags">
    <span class="tag" *ngFor="let tag of planets?.tags">{{ tag }}</span>
  </div>
</div>
