//:host.is-first{
//  border: 2px solid #000;
//}

:host{
  border: 5px solid grey;
  rotation: 55deg;
  display: block;
  width: 400px;
  margin: 10px auto;
  text-align: center;
  background-color: #bfe6bf;

  &.is-first{
    border: 2px solid #000;
  }
  img{
    margin: 10px;
    max-width: 350px;
  }
  .meta-data{
    //height: 80px;
  }
  .creator,.type,.tags{
    margin: 8px 16px 8px 0;
  }
  .author-info{
    height: 24px;
  }
  .creator{

  }
  .type{

  }
  .tags{
    color: #fff;
    margin: 16px 0;
  }
  .tag{
    padding: 8px;
    background-color: #747bdb;
    border-radius:8px;
    margin: 0 5px 0 0;
  }
  &.rookie{
    background-color: #e0ce77;
  }
  //&.champion{
  //  background-color: #13dd9a;
  //}
  &.no-type{
    background-color: #890b26;
  }
  &.found{
    border-color: #f41c5b;
    border-width: 8px;
  }

}


